doctype 5
html
  head
    title My blog
    link(rel="stylesheet", href="/css/style.css")
  body
    .new-post
      a(href="/new") new post
    .wrap
      h1 
        a(href="/") My blog
      block content
